.record-rtc-backdrop {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  display: none;
}
.record-rtc-outer {
  position: relative;
  width: 100%;
  height: 100%;
}
.record-rtc-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 720px;
	width: 80%;
  margin: auto;
}
.record-rtc-inner:before {
  content: "";
	display: block;
}
.record-rtc-inner.record-rtc-standard:before {
  padding-top: 75%;
}
.record-rtc-inner.record-rtc-widescreen:before {
  padding-top: 56.25%;
}
.record-rtc-video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: default;
}

.record-rtc-controls {
  height: 39px;
  position: relative;
  font-size: 0;
  cursor: default;
}
.record-rtc-controls button {
  border: none;
  padding: 6px;
  margin: 0;
  background-color: rgba(0, 0, 0, .5);
  color: #FFF;
  cursor: pointer;
}
.record-rtc-controls button:hover {
  background-color: rgba(90, 90, 90, .5);
}

.record-rtc-button {
  height: 34px;
}
.record-rtc-button > div {
  display: inline-block;
  height: 21px;
  overflow: visible;
}

.record-rtc-messages {
  position: relative;
  margin-top: -40px;
  height: 0;
  width:100%;
  overflow: visible;
}
.record-rtc-messages > div {
  margin: 0 auto;
  width: 80px;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, .5);
  font-weight: bold;
}
.record-rtc-messages .record-rtc-message-playing {
  color: green;
  display: none;
}
.record-rtc-messages .record-rtc-message-recording {
  color: red;
  display: none;
}

.record-rtc-close {
  position: absolute;
  top: 0;
  right: 0;
  overflow: visible;
  height: 0;
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 1em;
  padding: 5px;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
